
@{
    ViewData["Title"] = "Главная страница";
}

<body div class="back-image">
<div class="text-center">
    <h2>Привет!</h2>
    </div>
    <p>
        Добро пожаловать в "Книжную гавань" - вашу книжную лавку в 2023 году! Мы предлагаем широкий ассортимент книг на любой вкус и возраст, а также приятные цены и высокое качество обслуживания. Несмотря на то, что мы открылись недавно, мы совершенно не уступаем нашим более опытным конкурентам. Приходите к нам и убедитесь в этом сами! Мы гарантируем, что вы найдете здесь все, что нужно для вашей любимой занятия - чтения. В "Книжной гавани" мы заботимся о каждом клиенте и всегда рады помочь вам с выбором книги или ответить на любые вопросы. Посетите наш магазин и окунитесь в мир увлекательных историй и захватывающих приключений!
    </p>
    <p>
        Наши контакты:
        <br>
        <a href="mailto: bookharbor@yandex.ru">Наша почта</a>
        <br>
        <a href="mailto: bookharbor@gmail.com">Наша почта</a>
        <br>
        8 (999) 444-22-33 — круглосуточно
    </p>
   
    </body>

